In [1]:
import pandas as pd

In [3]:
cities = pd.read_csv("cities-in-poland.csv", sep=';')
cities

             City          Region            Province  Areakm2  Population
0     Bolesławiec   bolesławiecki        dolnośląskie    23.57       39464
1    Nowogrodziec   bolesławiecki        dolnośląskie    16.10        4227
2         Bielawa  dzierżoniowski        dolnośląskie    36.21       30987
3     Dzierżoniów  dzierżoniowski        dolnośląskie    20.07       34168
4         Niemcza  dzierżoniowski        dolnośląskie    19.81        3107
..            ...             ...                 ...      ...         ...
908   Świnoujście  Świnoujście[a]  zachodniopomorskie   197.23       41276
909        Człopa         wałecki  zachodniopomorskie     6.27        2345
910   Mirosławiec         wałecki  zachodniopomorskie     2.17        3040
911        Tuczno         wałecki  zachodniopomorskie     9.21        1956
912         Wałcz         wałecki  zachodniopomorskie    38.17       26033

[913 rows x 5 columns]

In [11]:
cities.loc[:,['City','Province']].groupby(['Province']).count()

                     City
Province
dolnośląskie           91
kujawsko-pomorskie     52
lubelskie              43
lubuskie               42
mazowieckie            86
małopolskie            59
opolskie               35
podkarpackie           51
podlaskie              40
pomorskie              42
warmińsko-mazurskie    49
wielkopolskie         111
zachodniopomorskie     65
łódzkie                44
śląskie                71
świętokrzyskie         32

In [15]:
cities.loc[:,['Province','Population']].groupby(['Province']).sum()

                     Population
Province
dolnośląskie            2014847
kujawsko-pomorskie      1250502
lubelskie                992787
lubuskie                 663334
mazowieckie             3427481
małopolskie             1604742
opolskie                 520618
podkarpackie             880328
podlaskie                720900
pomorskie               1487883
warmińsko-mazurskie      854265
wielkopolskie           1914114
zachodniopomorskie      1177650
łódzkie                 1583399
śląskie                 3542874
świętokrzyskie           565304

In [22]:
cities.loc[:,['Province','Region','Population']].query("Province == 'opolskie'").groupby(['Region']).sum()

                                                         Province  Population
Region
Opole[a]                                                 opolskie      119574
brzeski                                  opolskieopolskieopolskie       51431
głubczycki                               opolskieopolskieopolskie       22087
kluczborski                              opolskieopolskieopolskie       34055
krapkowicki                              opolskieopolskieopolskie       35279
kędzierzyńsko-kozielski                                  opolskie       62840
namysłowski                                              opolskie       16126
nyski                    opolskieopolskieopolskieopolskieopolskie       73571
oleski                           opolskieopolskieopolskieopolskie       23715
opolski                                  opolskieopolskieopolskie       18426
prudnicki                                opolskieopolskieopolskie       29874
strzelecki               opolskieopolskieopolskieopolskieopolskie       33640

In [23]:
cities.loc[:,['Province','Region','Population']].query("Province == 'opolskie'").groupby(['Region']).sum().sort_values(by='Population',ascending=False)

                                                         Province  Population
Region
Opole[a]                                                 opolskie      119574
nyski                    opolskieopolskieopolskieopolskieopolskie       73571
kędzierzyńsko-kozielski                                  opolskie       62840
brzeski                                  opolskieopolskieopolskie       51431
krapkowicki                              opolskieopolskieopolskie       35279
kluczborski                              opolskieopolskieopolskie       34055
strzelecki               opolskieopolskieopolskieopolskieopolskie       33640
prudnicki                                opolskieopolskieopolskie       29874
oleski                           opolskieopolskieopolskieopolskie       23715
głubczycki                               opolskieopolskieopolskie       22087
opolski                                  opolskieopolskieopolskie       18426
namysłowski                                              opolskie       16126