1. Calculate and display the total number of students studying in Warsaw and Krakow. The data is available in the universitites.csv file. Do your calculations in a separate notebook.

In [2]:
import pandas as pd

In [3]:
universities = pd.read_csv("universities.csv")
universities

      City                                               Name  Students
0   Krakow           AGH University of Science and Technology     23000
1   Krakow                            Jagiellonian University     24000
2   Krakow                    Cracow University of Technology     16000
3   Krakow                University of Agriculture in Krakow     15000
4   Krakow                   Pedagogical University of Krakow     12000
5   Krakow                     Academy of Fine Arts in Krakow      2000
6   Krakow                      University of Music in Krakow       500
7   Krakow              Pontifical University of John Paul II      4000
8   Krakow                     Krakow University of Economics     15000
9   Krakow  The Andrzej Frycz Modrzewski Krakow University...      4000
10  Krakow            Academy of Physical Education in Krakow      4000
11  Krakow                   University of Pedagogy in Krakow      3500
12  Krakow                                     Krakow Academy      3000
13  Krakow                University of Mining and Metallurgy      2500
14  Krakow                      Academy of Applied Psychology      2000
15  Krakow   Academy of Fine Arts in Krakow Collegium Medicum      1500
16  Krakow               Higher School of Tourism and Ecology      1200
17  Krakow            Krakow School of Art and Fashion Design      1000
18  Krakow    Wyższa Szkoła Informatyki i Zarządzania (WSIiZ)       800
19  Krakow            Władysław Szafer Academy of Agriculture       700
20  Krakow                    Krakow Teacher Training College       600
21  Warsaw                               University of Warsaw     56000
22  Warsaw                    Warsaw University of Technology     34000
23  Warsaw                      School of Economics in Warsaw     22000
24  Warsaw                     SGH Warsaw School of Economics     13000
25  Warsaw                       Medical University of Warsaw     12000
26  Warsaw              National Defence University of Warsaw      5000
27  Warsaw     Cardinal Stefan Wyszyński University in Warsaw     12000
28  Warsaw              University of Life Sciences in Warsaw     14000
29  Warsaw          Warsaw University of Life Sciences (SGGW)     14000
30  Warsaw                Fryderyk Chopin University of Music       500
31  Warsaw                     Academy of Fine Arts in Warsaw      2000

In [9]:
universities.loc[:,['City','Students']].groupby('City').sum()

        Students
City
Krakow    136300
Warsaw    184500